body {
    background-image: url(./img/resident-evil-2-leons-desk-code.jpg);
    width: 100%;
    margin: 0;
    padding: 20px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

figure {
    text-align: center;
}

img {
    max-width: 100px;
    
    margin: 0 auto;
}

span {
    color: red;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.498);
    margin: 0;
}

h1, p {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
}

p {
    font-size: .8rem;
}

h2 {
    margin: 0;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.form-sheet, footer {
    width: 80vw;
    max-width: 800px;
    min-width: 300px;
    background-color: white;

    margin: auto;
    padding: 20px 0 20px 0;
}

form {
    padding: 0 20px;
}

fieldset {
    border: none;
    padding-left: .3rem;
}

label {
    display: block;
    margin-top: .8rem;
}

input, select, textarea {
    margin-top: .7rem;
    width: 100%;
}

input, select{
    height: 1.4rem;
}

select {
    font-size: 1em;
}

.inline {
    width: unset;
    vertical-align: middle;
    margin: 0 0 .2rem 0;
}

input[type="submit"] {
    height: 2rem;
    background-color: black;
    color: white;
}

input[type="submit"]:hover {
    background-color: red;
    cursor: pointer;
}

footer {
    margin-top: 1rem;
    padding: 5px 0px;
    background-color: rgb(221, 221, 43);
}

footer p {
    padding: 0 2.9rem;
}